:root{
    --main-color: rgb(3, 5, 75);
    --sup-color: rgb(170, 7, 211);
    --background-color: rgb(139, 255, 6);
}
body{
    margin:0;
    padding: 0;
}
.logo img{
    width: 140px;
    margin-top:-41px ;
}
.top{
    display: flex;
    background-color: var(--sup-color);
}
.menu{
    margin: 0;
    padding: 0;
    position: relative;
    top: 20px;
}
.menu>a{
    color: var(--main-color);
    font-size: 16px;
    font-weight: bold;
    padding-right: 150px;
    margin: 10px;
    width: 100px;
    text-decoration: none;
}
.menu>a:hover{
    color: rgb(16, 107, 8);
}
.search{
    position: absolute;
    top: 40px;
    left: 990px;
}
.search>.search-input{
    border-radius: 3px;
    width: 270px;
}
.search>.pc-search{
    border-radius: 2px;
    width: 22px;
    position: absolute;
}
.bottom1{
    background-image: url(https://images.pexels.com/photos/952479/pexels-photo-952479.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    width: 100%;
    height: 587px;
    position: absolute;
    top: 70px;
    align-self: center;
}
.bottom1 .content{
    position: absolute;
    top: 180px;
    left: 520px;
    color: white;
    text-shadow: 10px 5px 8px yellowgreen;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    animation:colornew 1s linear infinite;
}
@keyframes colornew {
    from{
        color: white;
        text-shadow: 10px 5px 8px yellowgreen;
    }
    to{
        color:gold;
        text-shadow: 10px 5px 8px rgb(4, 247, 25);
    }
}
footer{
    width: 100%;
    height: 300px;
    background-color: var(--main-color);
    align-items: center;
    position: relative;
    top: 550px;
}
.full{
    float: left;
    width: 95%;
    padding: 5px;
    margin: 15px;
    color:azure;
}
.box1{
    float: left;
    margin-right: 100px;
    margin-left: 80px;

}
h5{
    font-size:22px;
}
.box1 , .box2, .box3{
    font-size: 20px;
}
.box2{
    float: left;
    margin-right:100px ;
}
.box3{
    float: left;
    margin: 0 auto;
}
.phude{
    position: relative;
    top: 600px;
    background-color: rgb(252, 229, 243);
    border-left: 10px double;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
    margin: 20px;
    line-height: 25px;
    word-spacing: 3px;
    text-indent: 30px;
    font-size: large;
    font-weight: bold;
    color: rgb(49, 150, 94);
}
.body{
    width: 100%;
    top: 600px;
    height: 2230px;
}
.sanpham{
    width: 500px;
    height: 300px;
    background-color: rgb(245, 230, 201);
    margin:20px;
    margin-top: 60px;
    margin-right: 200px;
    padding: 20px;
    position: relative;
    top: 600px;
    border-radius: 30px ;
    border:  5px solid rgb(232, 233, 247);
}
.sanpham:hover{
    background-color: rgb(250, 198, 94);
    border:  5px solid rgb(170, 172, 238);
    animation: bcolor 1s linear infinite;
}
@keyframes bcolor {
    0%{
        background-color: rgb(250, 198, 94);
    }
    30%{
        background-color:  rgb(240, 253, 58);
    }
    60%{
        background-color:  rgb(166, 248, 72);
    }
}
.sanpham:active{
    border:  5px solid rgb(30, 37, 219);
}
.n1, .n2, .n3, .n4, .n5{
    display: flex;
    width: 700px;
}
h6{
    font-variant: small-caps;
    text-transform: lowercase;
    margin: 5px;
    padding:10px;
    font-size: 23px;
    background-color: rgb(245, 230, 201);
    border-radius: 70%;
    text-align: center;
    color: var(--sup-color);
}
.n1 img{
    border-bottom-left-radius: 100px;
}
.n2 img{
    border-top-right-radius: 100px;
}
.n3 img{
    border-bottom-right-radius: 100px;
}
.n4 img{
    border-top-left-radius: 70px;
}
.n5 img{
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
}
.money{
    font-weight: bold;
    font-size: larger;
    text-align: center;
    padding: 5px;
    margin: 5px;
    color: darkolivegreen;
    background-color: white;
    animation: moneycolor 2s ease-out infinite;
}
@keyframes moneycolor {
    0%{
        color: darkolivegreen;     
    }
    30%{
        color: rgb(164, 245, 24);
        background-color: black;   
    }
    60%{
        color: rgb(152, 235, 217);  
    }
    90%{
        color: rgb(248, 37, 231);
        background-color: black;   
    }
}
